<launch>
	<!-- Play Bagfile -->
	<arg name="bagfile" default="false" />
	<group if="$(eval bagfile != false)">
		<param name="/use_sim_time" value="True" />
		<node pkg="rosbag" type="play" name="rosbag_player" output="screen" args="-q --clock -d 5 $(arg bagfile)" />
	</group>

	<!-- Run flatten_pointcloud -->
	<node pkg="floor_octomap" type="flatten_pointcloud_node_final" name="flatten_pointcloud_node_final" output="screen">
		<rosparam command="load" file="$(find floor_octomap)/config/flatten_pointcloud_final.yaml" />
	</node>

    <node pkg="tf" type="static_transform_publisher" name="tf_pub_0" args="0 0 0 0 0 1 0 world map 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_pub_1" args="0 0 0.8 0 0 0 1 map camera_odom_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_pub_2" args="-0.005 0 -0.035 0 0 0 1 camera_link camera_base 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_pub_3" args="0 0 -0.8 0 0 1 0 camera_link base_link 100" />
  
</launch>
