<launch>

    <include file="$(find floor_octomap)/launch/octomap.launch" />

    <node pkg="floor_octomap" type="modify_octomap_node" name="modify_octomap" output="screen">
        <rosparam command="load" file="$(find floor_octomap)/config/flatten.yaml" />
    </node>

    <node pkg="floor_octomap" type="flatten_octomap_service.py" name="flatten_octomap_service" output="screen" />

    <!-- RUN FROM BAG FILE -->
    <arg name="bagfile" default="false"/>
    <group if="$(eval bagfile != false)">
        <node pkg="rosbag" type="play" name="rosbag_player" output="screen" args="--clock -d 1 -u 30 $(arg bagfile)"/>
        <param name="/use_sim_time" value="True"/>
    </group>

    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find floor_octomap )/rviz_config.rviz" /> -->


    <!-- STATIC TRANSFORM PUBLISHER -->
    <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
    <!-- rosrun tf static_transform_publisher 1.0 0 1.0 0 0 0 1 world base_link 100 -->

    <!-- world ~ base_link -->
    <!-- For bag -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_baselink_tf_pub" args="1 0 0.64 0 0 0 1 world base_link 100" />
  
    <!-- base_link ~ camera_link -->
    <!-- 0 Degree -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_to_camera_tf_pub" args=" 0 0 0.5 0 0 0 1 base_link camera_link 100" /> -->
    <!-- 45 Degree -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_to_camera_tf_pub" args=" 0 0 0.5 0 0.383 0 0.924 base_link camera_link 100" /> -->
    <!-- 90 Degree -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_to_camera_tf_pub" args=" 0 0 0.5 0 0.707 0 0.707 base_link camera_link 100" /> -->
    <!-- 88.5 Degree "test_v3.bag" -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_camera_tf_pub" args=" 0 0 0.5 0 0.698 0 0.716 base_link camera_link 100" />
    <!-- 53.6 Degree "test_v4.bag" -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_to_camera_tf_pub" args=" 0 0 0.65 0 0.451 0 0.893 base_link camera_link 100" /> -->
    <!-- 40 Degree "test_v5.bag" -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="baselink_to_camera_tf_pub" args=" 0 0 0.5 0 0.423 0 0.906 base_link camera_link 100" /> -->
    

    <!-- RUN DVO SLAM -->
    <node pkg="dvo_ros" type="camera_tracker" name="dvo_slam_node" output="screen">
        <param name="run_dense_tracking" value="True"/>
        <param name="use_initial_estimate" value="False"/>
        <param name="use_weighting" value="True"/>
    </node>


    <!-- VOXEL FILTER POINTCLOUD -->
    <node pkg="floor_octomap" type="cloud_voxel_filter_node" name="cloud_voxel_filter" output="screen"
            args="/dvo_cloud_in /voxel_filtered_cloud 5"/>


    <!-- FILTER DEPTH IMAGE ON DEPTH -->
    <node pkg="floor_octomap" type="tf_alias_node.py" name="tf_alias" output="screen" 
            args="/base_link_estimate /camera_depth_optical_frame_estimate /base_link /camera_depth_optical_frame"/>

    <node pkg="floor_octomap" type="depth_image_filter_node.py" name="filter_depth_service" output="screen" 
            args="/camera/depth/image_rect_raw /filtered_depth_image"/>


    <!-- CONVERT DEPTH IMAGE TO POINTCLOUD -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

    <node pkg="nodelet" type="nodelet" name="cloudify"
            args="load depth_image_proc/point_cloud_xyz standalone_nodelet">
        <remap from="points" to="depth_filtered_cloud"/>
        <remap from="image_rect" to="filtered_depth_image"/>
        <remap from="camera_info" to="camera/depth/camera_info"/>
    </node>
</launch>