<launch>

  <include file="$(find octomap_flatter)/launch/octomap.launch" />

  <node pkg="octomap_flatter" type="octomap_flatter_node" name="octomap_flatter" output="screen">
        <!-- Params go here -->
  </node>

   <!-- <node pkg="octomap_flatter" type="flatten_octomap_service.py" name="flatten_octomap_service" output="screen" /> -->
</launch>